<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>main page</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
	<style type="text/css">

		header {
			margin-left: 80px;
    		margin-top: 0;
    		margin-button: 0;
    		margin-right: 80;
    	}
    	body {
    		background-color: #ccffff;
		    font-family: 'Source Code Pro', monospace;
    	}	
    	ol {
    		list-style: none;
    	}
    	ul {
    		list-style: none;
    	}
    	a {
    		text-decoration: none;
    		color: #003333;
    	}
 
    </style>
</head>
<body>

<header>
	<h1>Home page</h1>
	<a href="post_list/"><h2>Posts page</h2></a>
	<a href="admin/"><h2>Admin</h2></a>
</header>


</body>
</html>