<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>main page</title>
	<style type="text/css">

		header {
			margin-left: 80px;
    		margin-top: 0;
    		margin-button: 0;
    		margin-right: 80;
    	}
    	body {
    		background-color: #ccffff;
    	}	
    	ol {
    		list-style: none;
    	}
    	ul {
    		list-style: none;
    	}
 
    </style>
</head>
<body>

<header>
	<h1>Home page</h1>
	<a href="post_list/"><h3>Posts page</h3></a>
	<a href="admin/"><h3>Admin</h3></a>
</header>


</body>
</html>