<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>the page</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <style type="text/css">

    	header {
			margin-left: 80px;
    		margin-top: 0;
    		margin-bottom: 0;
    		margin-right: 0;
    	
    	}
    	body {
    		margin-left: 15%;
    		margin-right: 30%;
    		background-color: #ccffff;
		    font-family: 'Source Code Pro', monospace;
    	}	
    	ol {
    		list-style: none;
    	}
    	ul {
    		list-style: none;
    	}
    	.post_el {
    		background-color: #80aaff; 
			border-radius: 6px;
    	}
    	.post_in {
		    font-family: 'Open Sans', sans-serif;
		    padding-bottom: 5px;
    	}
    	.post_name {
		    padding-top: 5px;
    	}
 		a {
    		text-decoration: none;
    		color: #003333;
    	}

    </style>

</head>

<body>

	<header>
		<h1>Post list page</h1>
		<a href="/"><h2>Home page</h2></a>
		<a href="/make_post/"><h2>Make a post</h2></a>
	</header>

	<ol>
		{% for i in post %}
			<li class = "post_el">
				<ul> 
					<li>
						<div class="container">
							<h2 class="post_name">{{ i.title }}</h2>
						</div>
					</li>

					<li>
						<div class="container">
							<p class="post_in">{{ i.text }}</p>
						</div>
					</li>
					<p></p>
				</ul>
			</li>
		{% endfor %}
	</ol>

</body>
</html>