<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>the page</title>
    <style type="text/css">

    	header {
			margin-left: 80px;
    		margin-top: 0;
    		margin-bottom: 0;
    		margin-right: 0;
    	
    	}
    	body {
    		background-color: #ccffff;
    	}	
    	ol {
    		list-style: none;
    	}
    	ul {
    		list-style: none;
    	}
    	.post_el {
    		background-color: #80aaff; 
    		border-top-left-radius: 5px; 
    		border-top-right-radius: 5px;
			border-bottom-left-radius: 5px; 
			border-bottom-right-radius: 5px;
    	}
 
    </style>

</head>

<body>

	<header>
		<h1>Post list page</h1>
		<a href="/"><h3>Home page</h3></a>
		<a href="admin/"><h3>Admin</h3></a>
	</header>

	<ol>
		{% for i in post %}
			<li class = "post_el">
				<ul> 
					<li>
						<div class="container">
							<h2>{{ i.title }}</h2>
						</div>
					</li>

					<li>
						<div class="container">
							{{ i.text }}
						</div>
					</li>
					<p></p>
				</ul>
			</li>
		{% endfor %}
	</ol>

</body>
</html>